APP_NAME=farewalk
DEBUG=true
DEFAULT_NETWORK_TYPE=drive
DEFAULT_SEARCH_RADIUS_M=500
DEFAULT_HALF_ANGLE_DEG=60
DEFAULT_LOCAL_CIRCLE_RADIUS_M=100
DEFAULT_ARC_STEPS=24
DEFAULT_ROAD_POINT_SPACING_M=35
DEFAULT_SEARCH_BUDGET=15
DEFAULT_WALK_PENALTY_LAMBDA=0.5
DEFAULT_MAX_LEAF_SIZE=6
UBER_COOKIE=
UBER_PRODUCT=UBERX
